.head1 {
  color: #847272; }

.frame {
  border: 2px solid red; }
  .frame .navigation {
    justify-content: space-between;
    display: flex;
    border: 2px solid red; }
    .frame .navigation .logo {
      border: 2px solid red;
      display: flex;
      align-items: center; }
      .frame .navigation .logo .nu7 {
        color: #00c0fd; }
      .frame .navigation .logo .pav {
        color: #00c0fd; }
    .frame .navigation .link-wrap {
      display: flex;
      justify-content: space-between; }
      .frame .navigation .link-wrap .pannel {
        color: #666;
        border: 2px solid red;
        display: flex;
        align-items: center; }
        .frame .navigation .link-wrap .pannel ul {
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          display: flex; }
        .frame .navigation .link-wrap .pannel li {
          padding: 0px 10px; }
          .frame .navigation .link-wrap .pannel li a {
            color: #666; }
      .frame .navigation .link-wrap .direct-link {
        border: 2px solid red;
        display: flex;
        align-items: center; }
        .frame .navigation .link-wrap .direct-link ul {
          margin: 0px;
          padding: 0px;
          display: flex;
          list-style-type: none; }
        .frame .navigation .link-wrap .direct-link li {
          display: flex;
          align-items: center;
          padding: 0px 10px;
          list-style-type: none; }
  .frame .midpart {
    border: 2px solid red; }
    .frame .midpart .intro {
      color: #1a23cb; }

@media (max-width: 768px) {
  .frame .navigation .logo {
    width: 100%; }
  .frame .navigation .pannel {
    width: 100%; }
    .frame .navigation .pannel ul {
      display: block; }
  .frame .navigation .direct-link {
    width: 100%; }
    .frame .navigation .direct-link ul {
      display: block;
      padding: 1px; } }
